apiVersion: v1
kind: ConfigMap
metadata:
  name: mongodb-config
  namespace: mern
data:
  mongod.conf: |
    storage:
      dbPath: /data/db
      journal:
        enabled: true
    net:
      bindIp: 0.0.0.0
      port: 27017
    security:
      authorization: enabled